# ignore ALL files in the installed environment & archive directory
env/
archive/
src/lockbyte/dist
src/lockbyte/__pycache__/
src/lockbyte.egg-info/
.pytest_cache/
tests/__pycache__/
tests/temp/
.tox/
